*{
    padding:0;
    margin: 0;
}
body{
     font-family: 'R', sans-serif;
     
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
}
.navbar-links{
    display: flex;
    column-gap: 20px;
}
.navbar-link{
    text-decoration: none;
    color: #1D232C;
}

.navbar-links:hover{
    text-decoration: underline;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.navbar-menu-toggle{
    display: none;
}

@media screen and (max-width:700px){
    .navbar-menu-toggle{
        display: block;
    }
    .navbar-links{
        display: none;
    }
    .headerimage{
        display: none;
    }
    .service-container-1{
        display: none;
    }
    .service-container-2{
        flex-direction: column;
    }
}

.side-navbar{
    background-color: #1D232C;
    width: 50%;
    height: 100%;
    position:fixed;
    top:0;
    left: 0%;
    padding: 20px;
    color: white;
    display: none;
    transition: 3s;
    
}

.side-navbar-link{
    color: white;
}


.header{
    display: flex;
    justify-content: center;
    gap:50px;
    padding: 50px;
}

.header-button{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    background-color: blue;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    border: none;
}


.service{
    padding:20px;
    gap:15px;
    margin: 12px;
   
}
.service-container-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.service-container-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:10px;
}
.service-container-2 div{
    background-color:gainsboro;
    border-radius: 8px;
    padding: 10px;
}
.side-navbar-link{
    margin-bottom: 25px;
    color: white;
}

.side-navbar-links{
    text-decoration: none;
    color: white;
}
.new-arrival{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.new-arrival-container{
    position: relative;
    padding: 20px;
    flex-basis: 20%;
    border-radius: 12px;
}
.new-arrival-container button{
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 3%;
    padding-bottom: 3%;
    margin-top: 10px;
    border-radius: 6px;
    position:absolute;
    top:60%;
    left:25%;
    border: none;
    background-color: blue;
    color: white;
   
}
.most-wanted{
  
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}
.most-container{
    position: relative;
    flex-basis: 20%;
    padding: 20px;
    
}
.most-container button{
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 3%;
    padding-bottom: 3%;
    margin-top: 10px;
    border-radius: 6px;
    position:absolute;
    top:60%;
    left:25%;
    border: none;
    background-color: blue;
    color: white;
}

.news{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    gap:15px;
}
.news input{
    padding: 11px;
    width: 80vw;
    margin-bottom: 10px;
    border: solid black 3px;
    border-radius: 8px;
    text-align: center;
    font-style:bold;
}

.news i{
   padding: 12px;
}
.products{
    display: flex;
    padding:12px;
    flex-direction: column;
    gap:12px;
}

.footer{
    background-color: black;
    padding-bottom: 8%;
    color:white;
    border-radius: 12px;
    display: flex;
    flex-basis: 50%;
    width: 100%;
    
}
    

   

.para{
    padding: 12px;
}
.head-footer{
    padding-left: 5%;
    width: 50%;
    padding-top: 15px;
    
}
.product-containter{
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 10px;
    text-align: center;
    
}
.product-containter input{
    padding: 11px;
    width: 80vw;
    margin-bottom: 10px;
    border: solid black 3px;
    border-radius: 8px;
    text-align: center;
    font-style:bold;
    background-color: transparent;
}
.product{
    padding: 20px;
    display: flex;
    gap:10px;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-basis: 25%;
    align-items: center;

}


.product-box{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-basis: 20%;
}
.b{
    padding: 5px;
    border-radius: 8px;
    border: none;
    width: 20%;
    position: relative;
    left: 1%;
    top: -40px;
    background-color: blue;
    color: white;
}
    
.product-box img{
    border-radius: 8px;
}
.form{
    padding: 20px;
    text-align: center;
    font-weight: 900;

}

.form input{
    width: 30vw;
    align-items: center;
    height: 30px;
    border-radius: 12px;
    text-align: center;
    border: none;
   
}
.t{
    border-radius: 12px;
    font-weight:800;
}
.btg{
    
    background-color: orangered;
    color: white;
    width: 10%;
    border-radius: 12px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    height: 30px;
    position: relative;
    left: 48%;
    

}

.btg button{
    display: flex;
}
.contact-container{
    border-color: aqua;
    border-style: solid;
    padding-bottom: 12px;
    padding-top: 10px;

    border-width: 3px;
    width: 70%;
    position:absolute;
    left: 18%;
    top:20%;
    border-radius: 8px;

}
.form span{
    color: red;
    font-family: sans-serif;
    font-weight: 500;
}

.form span i{
    color: seagreen;
}


#submit-error{
    color: red;
}